{% extends "layout.html" %}

{% block content %}

<div class="row">
  <div class="offset-md-3 col-md-6 col-sm-12">
    <div class="card">
      <div class="card-header">
        회원가입
      </div>
      <div class="card-body">

        <form action="/user/register" method="POST">
          <div class="mb-3 row">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="email" name="email" placeholder="이메일 입력">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="password" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호 입력">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="passwordConfirm" class="col-sm-2 col-form-label">Confirm</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="passwordConfirm" name="passwordc" placeholder="비밀번호 확인">
            </div>
          </div>

          <div class="mb-3 row">
            <label for="username" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="username" name="username" placeholder="유저 이름">
            </div>
          </div>
          
          <div class="mb-3 row">
            <div class="col-12 d-flex justify-content-end">
              <button type="submit" class="btn btn-outline-success">회원가입</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

{% endblock %}